  <?xml version="1.0" encoding="UTF-8"?>    
  <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">    
  <plist version="1.0">    
  <dict>    
     <key>items</key>    
     <array>    
         <dict>    
             <key>assets</key>    
             <array>    
                 <dict>    
                     <key>kind</key>    
                     <string>software-package</string>    
                     <key>url</key>    
                     <string>http://download_client.5110.cc/fknc.ipa</string>    
                 </dict>    
                 <dict>    
                     <key>kind</key>    
                     <string>display-image</string>    
                     <key>needs-shine</key>    
                     <true/>    
                     <key>url</key>    
                     <string>https://wxt.sinaimg.cn/thumb300/72c56797gy1fx9vpo6ziqj206g06st98.jpg</string>    
                 </dict>    
             <dict>    
                     <key>kind</key>    
                     <string>full-size-image</string>    
                     <key>needs-shine</key>    
                     <true/>    
                     <key>url</key>    
                     <string>https://wxt.sinaimg.cn/thumb300/72c56797gy1fx9vpo6ziqj206g06st98.jpg</string>    
                 </dict>    
             </array><key>metadata</key>    
             <dict>    
                 <key>bundle-identifier</key>    
                 <string>com.yoursoftid</string>    
                 <key>bundle-version</key>    
                 <string>1.01</string>    
                 <key>kind</key>    
                 <string>software</string>     
                 <key>title</key>    
                 <string>同城骰子</string>    
             </dict>    
         </dict>    
     </array>    
  </dict>    
  </plist>  

